<div class="website-card">
  <header class="card__header">
    <img src="images/websites/niami.png" alt="" class="screenshot" />
    <div class="overlay">
      <a href="#" class="icon" title="Website">
        <i class="fa fa-link"></i>
      </a>
    </div>
  </header>
  <div class="card__body">
    <h2 class="card__title">Niami</h2>
    <p class="card__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum suscipit
      quos sequi omnis, at eum pariatur magni laborum earum iste.
    </p>
    <a href="#" class="link-arrow">Visit Website</a>
  </div>
</div>
